{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <p>{{messge|safe}}</p>
    <form action="{% url 'find' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <tr><th></th><td>
            <input type="submit" value="click" class="btn btn-primary mt-2"></td></tr>
    </form>
    <hr>
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>calorie</th>
            <th>protein</th>
            <th>fat</th>
            <th>carbohydrates</th>
            <th>dietary_fiber</th>
            <th>favorite</th>
        </tr>
    {% for item in data %}
        <tr>
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.calorie}}</td>
            <td>{{item.protein}}</td>
            <td>{{item.fat}}</td>
            <td>{{item.carbohydrates}}</td>
            <td>{{item.dietary_fiber}}</td>
            <td>
                <td><a href="{% url 'favorite' item.id%}">{{item.favorite}}</a>
            <td>
                <td><a href="{% url 'delete' item.id %}">"削除"</a></td>
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>